.HomeDashboard {}
.Categories1 {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.Categories2 {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Catbutton {
    width: 100px;
    height: 50px;
}